.imageSvg {
  height: 200px;
  width: 200px;
}

.useCasesContainer {
  display: grid;
}

.usageCase {
  margin: 20px 300px;
}

.useCasesContainer > div:nth-child(even) {
  background-color: var(--ifm-color-secondary-darkest);
  color: var(--ifm-font-color-base-inverse);
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  display: grid;
}

.contentTitle {}

.description {}

.benefits {}