.socialProof {
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 20px;
  margin: 20px;
}

.companiesContainer {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.company {
  background-color: var(--ifm-color-secondary-darkest);
  border-radius: 40px;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  padding: 5px;
}