.callToAction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px 0px;
}

.text {
  justify-self: end;
}

h3 {
  font-weight: bold;
}

.buttons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}